{%- set passed_count = tasks|selectattr("result", "eq", "Passed")|list|length %}
{%- set failed_count = tasks|selectattr("result", "ne", "Passed")|list|length %}
{%- set product = run.details['a01.reserved.product']|title %}
{%- set failures = tasks|selectattr('result', 'ne', 'Passed')|list|sort(attribute='settings.classifier.identifier') -%}
<html>
<head>
    <style>
        body {
            font-family: 'Calibri', sans-serif;
        }

        .passed {
            color: green;
            padding: 0.1em;
        }

        .failed {
            color: red;
            padding: 0.1em;
        }

        table {
            text-align: left;
        }

        td {
            padding-right: 1em;
        }
        
        .code {
            font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
            background-color: darkslategray;
            color: azure;
            padding: 0.25em;
        }
    </style>
    <title>
        {{ product }} Automation Report: {{ run.id }} | Pass {{ passed_count }} | Fail {{ failed_count }}
    </title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>{{ product }}</h1>
        <h2>Automation Run: {{ run.id }}
            <span class="passed">Pass {{ passed_count }}</span>
            <span class="failed">Fail {{ failed_count }}</span>
        </h2>
        <table>
            <tbody>
            <tr>
                <td>Creation</td>
                <td>{{ run.creation }}</td>
            </tr>
            <tr>
                <td>Creator</td>
                <td>{{ run.details.get('a01.reserved.creator', 'N/A') }}</td>
            </tr>
            <tr>
                <td>Image</td>
                <td>{{ run.settings.get('a01.reserved.imagename', 'N/A') }}</td>
            </tr>
            <tr>
                <td>Remark</td>
                <td>{{ run.settings.get('a01.reserved.remark', 'N/A') }}</td>
            </tr>
            <tr>
                <td>Live</td>
                <td>{{ run.settings.get('a01.reserved.livemode', 'N/A') }}</td>
            </tr>
            <tr>
                <td>Mode</td>
                <td>{{ run.settings.get('a01.reserved.testmode', 'N/A') }}</td>
            </tr>
            <tr>
                <td>Query</td>
                <td>{{ run.settings.get('a01.reserved.testquery', 'N/A') }}</td>
            </tr>
            <tr>
                <td>Designated Secret</td>
                <td>{{ run.settings.get('a01.reserved.secret', 'N/A') }}</td>
            </tr>
            <tr>
                <td>From Failure</td>
                <td>{{ run.settings.get('a01.reserved.fromrunfailure', 'N/A') }}</td>
            </tr>
            <tr>
                <td>Agent Version</td>
                <td>{{ run.settings.get('a01.reserved.agentver', 'N/A') }}</td>
            </tr>
            <tr>
                <td>Client Version</td>
                <td>{{ run.details.get('a01.reserved.client', 'N/A') }}</td>
            </tr>
            <tr>
                <td>Total Tasks</td>
                <td>{{ tasks|length }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h2>Failures</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Duration(ms)</th>
            </tr>
            {%- for task in failures %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.settings.classifier.identifier }}</td>
                    <td>{{ task.duration }}</td>
                </tr>
            {%- endfor %}
        </table>
    </div>
    <div>
        <h2>More details</h2>
        <p>Install the latest release of A01 client to take a closer look.</p>
        <p>Instruction is here: <a href="https://github.com/azure/adx-automation-client">github.com/azure/adx-automation-client</a>
        </p>
        <div class="code">
            <code>
                $ a01 login<br>
                $ a01 get run -l {{ runID }}<br>
            </code>
        </div>
        <p>To get particular task details, use:</p>
        <div class="code">
            <code>
                $ a01 get task -l <i>task_id</i><br>
            </code>
        </div>
    </div>
</div>
</body>
</html> 